
//sign up
.form{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100vh;
    background-image:url('../img/Asset\ 1.png'), linear-gradient($color-dark,$color-dark) ;

 
    form{
        width:70%;
        padding: 3rem;
        background-color: rgb(29, 11, 124);
        border-radius: 1rem;
        display: flex;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.568);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 88rem;

        .signup-content{
            display: flex;
            align-content: space-evenly;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        label{
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 5rem;
            color:$color-green;
            background-color: rgb(71, 58, 134);
            cursor: pointer;
            input{
                display: none;
            }

            span{
                margin:0 1rem ;
                font-size: 2rem;
            }
            &:hover{
                color: rgb(255, 255, 255);
            }


        }
        img{
            filter:  brightness(0) invert(1);
            width: 17%;
        }
        h3{
            font-size: 2.5rem;
            text-transform: lowercase;
            letter-spacing: .8rem;
            color: rgb(209, 209, 209);
        }
        .login-group{
            width: 45%;
            margin: 1rem ;
            position: relative;
            input{
                width: 100%;
                height: 4.5rem;
                font-size: 2.5rem;
                color: white;
                text-align: center;
                letter-spacing: .2rem;
                background-color: rgb(71, 58, 134);
                border: none;
    
                &::placeholder{
                    font-size: 2.5rem;
                    text-align: center;
                    color: rgb(167, 167, 167);
                }
    
                &:focus{
                    font-size: 3rem;
                    text-align: center;
                    color: white;
                    background-color: rgb(117, 97, 218);
                }
            }
            p{
                position: absolute;
                top: -42%;
                text-transform: lowercase;
                color: rgb(255, 238, 0);
                font-size: 1.7rem;
            }
            .passwordView-content{
                position: absolute;
                top: 26%;
                right: 3%;
                cursor: pointer;
                .passwordView{
                    color: $color-green;
                    font-size: 3rem;

                    &:hover{
                        color: rgb(15, 158, 184);
                    }
                }
            }
          
        
        }

        button{
            width: 45%;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: .3rem;
            height: 5rem;
            border: none;
            background-color: $color-green;

            &:hover{
                background-color:rgb(24, 152, 168);
            }
        }
    }


}

//login
.login{
    form{
        width:45% !important ;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 67rem !important;
        .login-group{
            input{
                height: 6rem !important;
                &::placeholder{
                    font-size: 3rem !important;
                }
            }
            p{
                top: -50%;
                font-size: 2rem !important;
            }
        }
    }
    
}