.form{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100vh;
    background-image:url('../img/Asset\ 1.png'), linear-gradient($color-dark,$color-dark) ;

    form{
        width:45%;
        padding: 3rem;
        background-color: rgb(46, 52, 64);
        display: flex;
        box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.568);
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 67rem;

        img{
            filter:  brightness(0) invert(1);
            width: 30%;
        }
        h3{
            font-size: 3rem;
            text-transform: lowercase;
            letter-spacing: .8rem;
            color: rgb(209, 209, 209);
        }
        .login-group{
            width: 55%;
            position: relative;
            input{
                width: 100%;
                height: 6rem;
                font-size: 3rem;
                color: white;
                text-align: center;
                letter-spacing: .2rem;
                background-color: rgb(76, 86, 106);
                border: none;
    
                &::placeholder{
                    font-size: 3rem;
                    text-align: center;
                    color: rgb(167, 167, 167);
                }
    
                &:focus{
                    font-size: 3rem;
                    text-align: center;
                    color: white;
                    background-color: rgb(76, 86, 106);
                }
            }
            p{
                position: absolute;
                top: -50%;
                text-transform: lowercase;
                color: rgb(255, 238, 0);
                font-size: 2rem;
            }
            .passwordView-content{
                position: absolute;
                top: 26%;
                right: 3%;
                cursor: pointer;
                .passwordView{
                    color: $color-green;
                    font-size: 3rem;

                    &:hover{
                        color: rgb(15, 158, 184);
                    }
                }
            }
          
        
        }

        button{
            width: 55%;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: .3rem;
            height: 6rem;
            border: none;
            background-color: $color-green;

            &:hover{
                background-color:rgb(24, 152, 168);
            }
        }
    }


}