.content-messages{
    display: flex;
    width: 100%;
    height: auto;
    
    //User Column Page
    &__users{
        width: 23%;
        padding: 3rem;
        height: auto;
        border-right:.1rem solid rgba(36, 1, 39, 0.116);
        display: flex;
        align-items: center;
        flex-direction: column;

        a{  
            padding: 1rem 0;
            width: 70%;
            text-decoration: none;
            font-size: 1.8rem;
            margin-top:1rem ;
            text-align: left;
            list-style: circle;

            &:not(:last-child){
                border-bottom:.1rem solid rgba(32, 3, 41, 0.157) ;
            }
            &:hover{
                color: rgb(5, 161, 39);
            }
        }
    }

    //Message Column Page
    &__message{
        width: 77%;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__content{
            width:80%;
            display: flex;
            padding: 4rem;
            box-shadow: 0 .1rem 2rem rgba(0, 0, 0, 0.089);
            background-color: rgb(246, 230, 253);
            flex-direction: column;
            align-items: center;
            overflow-y: scroll ;
            margin: 2rem 0;
            height: 50rem;
            &__group{
                width: 80%;
                padding-bottom: 2.2rem;
                margin: 1rem 0;
             
                display: flex;
                align-items: center;
                padding: 1rem;
                &:not(:last-child){
                    border-bottom:.1rem solid rgba(68, 4, 68, 0.178) ;
                }

                &:hover{
                    background-color: rgba(128, 0, 128, 0.109);
                }
                img{
                    width: 6rem;
                    height: 6rem;
                    margin-right:1.5rem ;
                    border-radius:50% ;
                    box-shadow: 0 .1rem 2rem rgba(0, 0, 0, 0.404);
                }

                &__answer{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 1.7rem;
                   

                    span{
                        font-size: 1.4rem;
                        margin-top:1rem ;
                        color: rgb(34, 0, 34);
                    }
                }
            }
        }
        
    
    }
}