* {
    transition: all .3s;
}

html {
    font-size: 62.5%; //1rem = 10px
}

body {
    background-image:url('../../img/Asset\ 1.png'), linear-gradient($color-dark,$color-dark) ;
    font-family: 'Roboto', sans-serif;
}

.active-nav{
    background-color: rgba(29, 135, 177, 0.555) !important;
    color: rgb(236, 236, 236) !important;
}

.active-user{
    color: rgb(255, 166, 0);
}

.text-lowercase{
    text-transform: lowercase !important;
}

//Scroll bar
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $color-dark;
}

::-webkit-scrollbar-thumb {
    background: $color-green;
}

::-webkit-scrollbar-thumb:hover {
    background: $color-green;
}